/* Shared
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button, .button:hover, .button:focus {
  height: 38px;
  padding: 0 20px;
  /*background: #FF9E1A;
  border-radius: 10px;
  border: 0px;*/
  font-family: "Times New Roman", Times, serif;
  font-size: 12px;
  font-weight: 500;
  background-color: transparent; /*#313131;*/
  border-bottom: 1px solid #c5000b;
  text-decoration: none;
  color:#000000;
}

.buttonML_W, .buttonML_W:hover, .buttonML_W:focus,
.buttonML_B, .buttonML_B:hover, .buttonML_B:focus {
  height: 38px;
  padding: 0px 15px;
  background-color: transparent; /*#313131;*/
  font-family: "Times New Roman", Times, serif;
  font-size: 12px;
  font-weight: 500;
}
.buttonML_W, .buttonML_W:hover, .buttonML_W:focus {
  border-bottom: 1px solid #c5000b;
  color:#fff;
}
.buttonML_B, .buttonML_B:hover, .buttonML_B:focus {
  border-bottom: 1px solid #c5000b;
  color:#000000;
}

.buttonSTop_W, .buttonSTop_B,
.buttonSNone_W, .buttonSNone_B {
  position: absolute;
  background-color: transparent;
  letter-spacing: .1rem;
  font-family: "Times New Roman", Times, serif;
  font-size: 12px;
  font-weight: 500;
  text-decoration: none;
}
.buttonSNone_W {
  top: 0px;
  color:#fff;
}
.buttonSTop_W {
  height: 25px;
  padding: 10px 15px;
  color:#fff;
  border-top: 1px solid #c5000b;
}
.buttonMBottom_W {
  height: 25px;
  padding: 10px 15px;
  color:#fff;
  border-bottom: 1px solid #c5000b;
}
.buttonSNone_B {
  top: 0px;
  color:#000000;
}
.buttonSTop_B {
  height: 25px;
  padding: 10px 15px;
  color:#000000;
  border-top: 1px solid #c5000b;
}



#module button.collapsed:after  {
  content: 'M O R E';
}

#module button:not(.collapsed):after {
  content: 'L E S S';
}

#module button1.collapsed:after  {
  content: 'M O R E';
}

#module button1:not(.collapsed):after {
  content: 'E N G A G E';
}

.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* The actual popup */
.popup .popuptext {
    visibility: hidden;
    width: 170px;
    background-color: #000008;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -85px;
}

/* Popup arrow */
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #000008 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

.popup .hide {
    visibility: hidden;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}

/*.engagebutton {
  font-family: 'SF-Pro-Text-Regular';
  border: 3px solid #FF9E1A;
  border-radius: 100px;
  /*border-color: #FF9E1A;
  background-color: #FF9E1A;*/
  color: #fff;
  padding: 5px 20px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
}

#menu {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0em;
  width: 100%;
}

#engagemenu {
  color: #313131;
  background-color:#FF9E1A;
}*/

form {
  /*margin-top: 50px;*/
  transition: all 4s ease-in-out;
}

.form-input {
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid gray;
  font-family: "Times New Roman", Times, serif;
  font-size: 1.7rem;
  line-height: 1.5;
  margin-bottom: 10px;
  /*box-sizing: border-box;*/
}

input {
  height:15px;
}
/*
form .engage {
  background: #FF9E1A;
  border-radius: 100px;
  border: 0px;
  font-family: "Times New Roman", Times, serif;
  font-size: 12px;
}

form .engage:hover {
  background-color: #313131;
  cursor: pointer;
}

/* Style that first letter! */
.firstpara::first-letter {
  float: left;
  font-size: 60px;
  line-height: 50px;
  margin-top: 0px;
  padding-right: 5px;
  padding-left: 0px;
  opacity: 0.8;
  color: #c5000b;
}

.tagline::first-letter {

  font-size: 2.0rem;
  /*line-height: 50px;*/

  opacity: 0.8;
}

/*.para::first-line{
  text-transform: uppercase;
}

/* Sections
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.section, .minisection {
  padding: 10rem 0 10rem;
  text-align: center;
}
.firstpara, .para {
  padding: 0rem 0 0rem;
  text-align: justify;
  text-justify: inter-word;
  z-index: 9999;
}

.section-heading,
.section-description {
  margin-bottom: 1.2rem;
}
.footer {
  padding: 1rem 0 1rem;
  text-align: center;
  background-color: #c0c0c0;
  opacity: 0.88;
  font-family: "Times New Roman", Times, serif;
  font-size: 12px;
  color: #fff;
  z-index: 1;
}




/* Article Collapse
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.collapse{display:none}
.collapse.in{display:block}
tr.collapse.in{display:table-row}
tbody.collapse.in{display:table-row-group}
.collapsing{position:relative;height:0;overflow:hidden;
  -webkit-transition-timing-function:ease;-o-transition-timing-function:ease;
  transition-timing-function:ease;-webkit-transition-duration:.35s;
  -o-transition-duration:.35s;transition-duration:.35s;
  -webkit-transition-property:height,visibility;
  -o-transition-property:height,visibility;transition-property:height,visibility}

/*.show, .hide {
  position: absolute;
  bottom: -1em;
  z-index: 100;
  text-align: center;
}
.hide {display: none;}
.show:target {display: none;}
.show:target ~ .hide {display: block;}
.show:target ~ .article {
   max-height: 2000px;
}
.show:target ~ .fade {
  margin-top: 0;
}
.article {
  position: relative;
  max-height: 200px;
  overflow: hidden;
  transition: max-height .5s ease;
}


#show  {
  text-align: center;
  }
#hide  {
  text-align: center;
  }



/* Background Images
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.landing, .rms, .meaning, .contact,
.mystory, .meaningless, .inspiration, .empathy, .calling, .meaning2,
.films, .sheepwolf, .spaceman, .gospace, .cinema, .prescient,
.consulting, .worldvision, .test,
.blog, .respect, .oneword, .truestories, .church, .facts, .intersectionality, .language, .pragmatism {
  /*border-bottom: 1px solid #ddd;*/
  background-size: cover;
  /*background-color: #fff;*/
  padding-bottom: 5rem;
  z-index: 1;
}
.cardA{
  border-bottom: 1px solid #ddd;
  background-size: cover;
  background-color: #fff;
  color: #000000;
  padding-bottom: 5rem;
  z-index: 1;
  font-weight: 100;
}
.cardB{
  border-bottom: 1px solid #ddd;
  background-size: cover;
  background-image: linear-gradient(#808080,#C0C0C0);
  color: #000000;
  padding-bottom: 5rem;
  z-index: 1;
  font-weight: 100;
}
.cardC{
  /*border-bottom: 1px solid #ddd;*/
  background-size: cover;
  background-image: linear-gradient(#C0C0C0,#808080);
  color: #000000;
  padding-bottom: 5rem;
  z-index: 1;
  /*font-family: "EncodeSansCompressed-300-Light";*/
}
.cardD{
  border-bottom: 1px solid #ddd;
  background-size: cover;
  background-image: linear-gradient(#505050,#323334);
  /*background-color: #323334;*/
  color: #fff;
  padding-bottom: 5rem;
  z-index: 1;
  font-weight: 100;
  /*font-family: "EncodeSansCompressed-100-Thin";*/
}
.cardR{
  /*border-bottom: 1px solid #c0c0c0;*/
  background-size: cover;
  background-image: linear-gradient(#DCDCDC,#FFF);
  /*background-color: #fff;*/
  color: #000000;
  padding-bottom: 10rem;
  z-index: 1;
  font-weight: 100;
}

.cardS{
  /*border-bottom: 1px solid #c0c0c0;*/
  background-size: cover;
  background-image: linear-gradient(#FFF,#DCDCDC);
  /*background-color: #fff;*/
  color: #000000;
  padding-bottom: 10rem;
  z-index: 1;
  font-weight: 100;
}

.landing {
  background-image: url('../images/Flight_Mountains_Sky_Flying_1280x854-01-min.jpg');
}
.rms {
  background-color: #fffff0;
  color: #313131;
}
.meaning {
  color: #fff;
  background-image: url('../images/Barbed_Wire-01.jpg');
}
.meaning2 {
  background-image: url('../images/Barbed_Wire-01-min.jpg');
}
.contact {
  color: #323334;
  background-image: url('../images/curiosity-rover-lead-01-min.jpg');
}
.mystory {
  background-image: url('../images/Debris_Plane_Destroyed_Wreck_1280x670-01-min.jpg');
}
.meaningless {
  background-image: url('../images/Debris_Plane_Destroyed_Wreck_1280x670-01-min.jpg');
}
.inspiration {
  background-image: url('../images/Ocean_Jellyfishes_Aquarium_1280x854-01-min.jpg');
}
.empathy {
  background-image: url('../images/Grand_Canyon_Under_Black_Sky_1280x720-01-min.jpg');
}
.calling {
  background-image: url('../images/Sea_Clouds_Boat_Ship_1280x853-01-min.jpg');
}
.films {
  background-image: url('../images/Green_Pine_Trees_Covered With_1280x854-01-min.jpg');
}
.sheepwolf {
  background-image: url('../images/GodBlessYou-01-min.jpg');
}
.spaceman {
  background-image: url('../images/Spacesuit-01-min.jpg');
}
.gospace {
  background-image: url('../images/White_and_Blue_Cloudy_Sky_1280x854.jpg');
}
.cinema {
  background-image: url('../images/Blue_Body_of_Water_Near_in_1280x854-01.jpg');
}
.prescient {
  background-image: url('../images/PRESCIENT_R02_01-01-min.jpg');
  background-repeat: no-repeat;
  background-size: auto;
}
.consulting {
  background-image: url('../images/White_and_Blue_Cloudy_Sky_1280x854-01-min.jpg');
}
.worldvision {
  background-image: url('../images/FCwithKK_large.jpg');
}
.blog {
  background-image: url('../images/Abandoned_Airplane_Apocalypse_1280x720-01-min.jpg');
}
.respect {
  background-color: #4c516d;
  color: #fff;
  /*background-image: url('../images/The_Thinker.jpg');*/
}
.oneword {
  background-image: url('../images/Aquarium_Blue_Color_Deep_1280x854-01-min.jpg');
}
.truestories {
  background-image: url('../images/Burn_Fog_Forest_Forest_Fire_1280x720-01-min.jpg');
}
.church {
  background-image: url('../images/Brown_Jesus_Artwork_1280x854-01-min.jpg');
}
.facts {
  background-image: url('../images/Sea_Ocean_Hotel_Swimming_Pool_1280x854-01-min.jpg');
}
.intersectionality {
  background-image: url('../images/Clouds_Cloudscape_Dark_Eerie_1280x960-01-min.jpg');
}
.language {
  background-color: #4c516d; /*#8b8589;
  /*color: #313131;*/
  /*background-image: url('../images/The_Thinker.jpg');*/
}
.pragmatism {
  background-image: url('../images/I-borghesi-di-Calais-1884-ca-1889-01-min.jpg');
}


/* Bigger than 550 */
@media (min-width: 550px) {
  .section {
    padding: 12rem 0 15rem;
  }
  .minisection {
    padding: 8rem 0 7rem;
  }
}

/* Bigger than 750 */
@media (min-width: 750px) {
  .section {
    padding: 14rem 0 15rem;
  }
  .minisection {
    padding: 10rem 0 10rem;
  }
  .section-description, {
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
  /*.para-description, {
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
    z-index: 9999;
    text-align: left;
  }*/
}

/* Bigger than 1000 */
@media (min-width: 1000px) {
  .section {
    padding: 20rem 0 19rem;
  }
  .minisection {
    padding: 12rem 0 12rem;
  }
}
