/* Shared
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button, .button:hover, .button:focus {
  height: 38px;
  padding: 0 20px;
  /*background: #FF9E1A;
  border-radius: 10px;
  border: 0px;*/
  font-family: 'Campton-Medium';
  font-size: 12px;
  background-color: transparent; /*#313131;*/
  border-bottom: 2px solid #323334;
  text-decoration: none;
  color:#323334;
}

.button1, .button1:hover, .button1:focus {
  height: 38px;
  padding: 0px 15px;
  background-color: transparent; /*#313131;*/
  border-bottom: 2px solid #fff;
  color:#fff;
}

.buttonTop {
  height: 25px;
  padding: 10px 15px;
  background-color: transparent; /*#313131;*/
  border-top: 2px solid #fff;
  color:#fff;
  letter-spacing: .1rem;
  font-family: 'Campton-Medium';
  font-size: 12px;
  text-decoration: none;
}

.buttonNone {
  position: absolute;
  top: -18px;
  height: 38px;
  background-color: transparent; /*#313131;*/
  border: none;
  color:#fff;
  letter-spacing: .1rem;
  font-family: 'Campton-Medium';
  font-size: 12px;
  text-decoration: none;
}

.buttonNone2 {
  position: absolute;
  top: 0px;
  height: 38px;
  background-color: transparent; /*#313131;*/
  border: none;
  color:#fff;
  letter-spacing: .1rem;
  font-family: 'Campton-Medium';
  font-size: 12px;
  text-decoration: none;
}

#module button.collapsed:after  {
  content: 'M O R E';
  font-family: 'Campton-Medium';
  font-size: 12px;
  /*text-decoration: none;*/
  color:#fff;
}

#module button:not(.collapsed):after {
  content: 'L E S S';
  font-family: 'Campton-Medium';
  font-size: 12px;
  text-decoration: none;
  color:#fff;
}

.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* The actual popup */
.popup .popuptext {
    visibility: hidden;
    width: 240px;
    background-color: #000008;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -120px;
}

/* Popup arrow */
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #000008 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

.popup .hide {
    visibility: hidden;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}

/*.engagebutton {
  font-family: 'SF-Pro-Text-Regular';
  border: 3px solid #FF9E1A;
  border-radius: 100px;
  /*border-color: #FF9E1A;
  background-color: #FF9E1A;*/
  color: #fff;
  padding: 5px 20px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
}

#menu {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0em;
  width: 100%;
}

#engagemenu {
  color: #313131;
  background-color:#FF9E1A;
}*/

form {
  /*margin-top: 50px;*/
  transition: all 4s ease-in-out;
}

.form-input {
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid gray;
  color: #fff;
  font-family: 'Campton-Light';
  font-size: 14px;
  margin-bottom: 10px;
  /*box-sizing: border-box;*/
}

input {
  height:15px;
}

form .engage {
  background: #FF9E1A;
  border-radius: 100px;
  border: 0px;
  font-family: 'SF-Pro-Text-SemiBold';
  font-size: 12px;
}

form .engage:hover {
  background-color: #313131;
  cursor: pointer;
}

/* Sections
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.section, .minisection {
  padding: 7rem 0 7rem;
  text-align: center;
}
.para {
  padding: 0rem 0 0rem;
  text-align: left;
  z-index: 9999;
}

.section-heading,
.section-description {
  margin-bottom: 1.2rem;
}
.footer {
  padding: 1rem 0 1rem;
  text-align: center;
  opacity: 0.88;
  font-family: 'SF-Pro-Text-Regular';
  font-size: 14px;
}




/* Article Collapse
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.collapse{display:none}
.collapse.in{display:block}
tr.collapse.in{display:table-row}
tbody.collapse.in{display:table-row-group}
.collapsing{position:relative;height:0;overflow:hidden;
  -webkit-transition-timing-function:ease;-o-transition-timing-function:ease;
  transition-timing-function:ease;-webkit-transition-duration:.35s;
  -o-transition-duration:.35s;transition-duration:.35s;
  -webkit-transition-property:height,visibility;
  -o-transition-property:height,visibility;transition-property:height,visibility}

/*.show, .hide {
  position: absolute;
  bottom: -1em;
  z-index: 100;
  text-align: center;
}
.hide {display: none;}
.show:target {display: none;}
.show:target ~ .hide {display: block;}
.show:target ~ .article {
   max-height: 2000px;
}
.show:target ~ .fade {
  margin-top: 0;
}
.article {
  position: relative;
  max-height: 200px;
  overflow: hidden;
  transition: max-height .5s ease;
}


#show  {
  text-align: center;
  }
#hide  {
  text-align: center;
  }



/* Background Images
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.landing, .rms, .meaning,
.mylifestory, .meaningless, .inspiration, .empathy, .calling, .meaning2,
.projects, .omm, .spaceman, .gospace, .cinema, .prescient, .engage,
.zaxis, .respect, .oneword, .truestories, .church, .facts, .intersectionality, .language, .pragmatism {
  border-bottom: 1px solid #ddd;
  background-size: cover;
  /*background-color: #fff;*/
  color: #fff;
  padding-bottom: 5rem;
  z-index: 1;
}
.landing {
  background-image: url('../images/Flight_Mountains_Sky_Flying_1280x854-01.jpg');
}
.rms {
  background-color: #fffff0;
  color: #313131;
}
.meaning {
  background-image: url('../images/Aerial_Clouds_Cloudy_Satellite_1280x854-01.jpg');
}
.intro {
  /*background-image: url('../images/Blue_Body_of_Water_Near_in_1280x854.jpg');*/
  background-size: cover;
  color: #fff;
  padding-bottom: 5rem;
  z-index: 1;
}
.mylifestory {
  background-image: url('../images/Hero.01_10_46_23.Still003-01.jpg');
}
.meaningless {
  background-image: url('../images/Debris_Plane_Destroyed_Wreck_1280x670-01.jpg');
}
.inspiration {
  background-image: url('../images/Ocean_Jellyfishes_Aquarium_1280x854-01.jpg');
}
.empathy {
  background-image: url('../images/Grand_Canyon_Under_Black_Sky_1280x720-01.jpg');
}
.calling {
  background-image: url('../images/White_Gray_Teal_Air_Bus Under_1280x720-01.jpg');
}
.meaning2 {
  background-image: url('../images/Sea_Clouds_Boat_Ship_1280x853-01.jpg');
}
.projects {
  background-image: url('../images/Festival_Music_Rock_Sound_1280x854.jpg');
}
.omm {
  background-image: url('../images/God_Bless_You-01.jpg');
}
.spaceman {
  background-image: url('../images/Spacesuit-01.jpg');
}
.gospace {
  background-image: url('../images/White_and_Blue_Cloudy_Sky_1280x854.jpg');
}
.cinema {
  background-image: url('../images/Blue_Body_of_Water_Near_in_1280x854-01.jpg');
}
.prescient {
  background-image: url('../images/PRESCIENT_R02_01-01.jpg');
  background-repeat: no-repeat;
  background-size: auto;
}
.engage {
  background-image: url('../images/Explosion_Fire_Smoke_Dance_1280x854-01.jpg');
}
.zaxis {
  background-image: url('../images/BraneWorld-01.jpg');
}
.respect {
  background-color: #4c516d;
  color: #fff;
  /*background-image: url('../images/The_Thinker.jpg');*/
}
.oneword {
  background-image: url('../images/Aquarium_Blue_Color_Deep_1280x854-01.jpg');
}
.truestories {
  background-image: url('../images/Burn_Fog_Forest_Forest_Fire_1280x720-01.jpg');
}
.church {
  background-image: url('../images/Brown_Jesus_Artwork_1280x854-01.jpg');
}
.facts {
  background-image: url('../images/Sea_Ocean_Hotel_Swimming_Pool_1280x854-01.jpg');
}
.intersectionality {
  background-image: url('../images/Clouds_Cloudscape_Dark_Eerie_1280x960-01.jpg');
}
.language {
  background-color: #4c516d; /*#8b8589;
  /*color: #313131;*/
  /*background-image: url('../images/The_Thinker.jpg');*/
}
.pragmatism {
  background-image: url('../images/I-borghesi-di-Calais-1884-ca-1889-01.jpg');
}


/* Bigger than 550 */
@media (min-width: 550px) {
  .section {
    padding: 12rem 0 11rem;
  }
  .minisection {
    padding: 8rem 0 7rem;
  }
}

/* Bigger than 750 */
@media (min-width: 750px) {
  .section {
    padding: 14rem 0 15rem;
  }
  .minisection {
    padding: 10rem 0 10rem;
  }
  .section-description, {
    max-width: 75%;
    margin-left: auto;
    margin-right: auto;
  }
  .para-description, {
    max-width: 75%;
    margin-left: auto;
    margin-right: auto;
    z-index: 9999;
    text-align: left;
  }
}

/* Bigger than 1000 */
@media (min-width: 1000px) {
  .section {
    padding: 20rem 0 19rem;
  }
  .minisection {
    padding: 12rem 0 12rem;
  }
}
